<div class="row pt-5" *ngIf="invalidCreds">
    <div class="col-md-6 mx-auto">
        <div class="alert alert-danger">
            <span>Invalid Credentials</span>
        </div>
    </div>
</div>
<div class="row" [class]="!invalidCreds ? 'pt-5' : ''">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header bg-success">
                <h3 class="mb-0 text-white">Login</h3>
            </div>
            <div class="card-body">
                <form class="form" [formGroup]="formData" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Email</label>
                        <input formControlName="email" class="form-control rounded-0" type="text" required>
                        <div class="alert alert-danger" *ngIf="email.invalid && email.touched">Email is invalid </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input formControlName="password" class="form-control rounded-0" type="text" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success float-right">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>